.find-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.find-upper-part {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 2px solid black;
  height: 50%;
}

.find-Map {
  font-size: 1.5rem;
  color: #333;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-lower-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.find-w-full {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 2rem;
  align-items: center;
  padding-left: 3rem;
}

.find-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.find-upper-section {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  width: 100%;
  height: 50%;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.find-upper-card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 55%;
  max-height: 80%;
}


.find-card-icon {
  margin-right: 1rem;
  color: black;
}   
.icon{
  color: black;
}

.find-card-content {
  display: flex;
  align-items: center;
}

.find-card-title {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.find-place {
  font-size: 0.875rem;
  color: #666;
}

.find-lower-section {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 40%;
  width: 100%;
  padding: 0.5rem;
  padding-bottom: 10px;
}

.find-lower-card-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  width: 33.333%;
  height: 70%;
  box-sizing: border-box;
}
@media (min-width: 1020px) {

  .find-lower-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
  }
  

  .find-upper-section {
    display: flex;
    flex-direction: row;
    align-items:center ;
    width: 100%;
    height: 30%; 
    margin-bottom: 2rem;
    box-sizing: border-box; 

  }
  
  .find-upper-card {
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1.5rem;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    color: black;
  }
  
  
  .find-card-icon {
    margin-right: 1rem;
  }   
  
  .find-card-content {
    display: flex;
    align-items: center;
  }
  
  .find-card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  .find-place {
    font-size: 0.875rem;
    color: #666;
  }
  
  .find-lower-section {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: 40%;
    width: 100%;
    padding: 0.5rem;
    padding-bottom: 10px;

  }
  
  .find-lower-card-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    width: 33.333%;
    height: 70%;
    box-sizing: border-box;
  }

}