/* Container for the entire user service component */
.user-service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.header-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-top: 55px;
    height: 30%;
}

.card-group {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 16px;
    width: 100%;
}

.card-item {
    width: 50%;
}

.actions-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60%;
    margin-bottom: 25%;
}

.actions-title {
    width: 100%;
    padding: 2px;
}

.title-main {
    font-size: 1.5rem;
    font-weight: bold;
}

.actions-group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.action-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
    margin: 8px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .action-card {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}

@media (max-width: 768px) {
    .action-card {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}

@media (max-width: 480px) {
    .action-card {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
        font-size: 0.875rem;
    }

    .title-main {
        font-size: 1rem;
    }

    .icon-medium {
        font-size: 1.5rem;
    }
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden;
    margin: 8px;
}

.card-highlight {
    height: 100px;
}

.card-content, .card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.card-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 600px) {
    .card-heading {
        font-size: 1.1rem;
    }
}

.icon-large {
    font-size: 36px;
}

.icon-medium {
    font-size: 24px;
}
